.header {
  background-color: #222222;
}

.nav-link {
  color: rgba(255, 255, 255, 1);
  background-color: #222222;
  border-bottom: 1px solid;
}

.nav-link:hover {
  background-color: #16a181;
  color: #ffffff;
}

.nav-link.active {
  background-color: #16a181;
}

.search-found-word {
  background-color: #16a181;
}
